GEMINI_API_KEY=AIzaSyAGAAxL2IQkohS7tDjPvak-xz3xiANIBQI
MISTRAL_API_KEY=OVUd11RSLaHZdXPTouoPrkZEKl1aWsFn

MONGO_CONNECTION_STRING=mongodb+srv://gande0088_db_user:gxKyYTrQs1JWYQpD@cluster0.hozlrsq.mongodb.net/?appName=Cluster0
MONGO_DATABASE_NAME=AIChatDb